
<div class="row">
  <div class="column">
    <mat-card class="contents_submenu">
      <button mat-raised-button color="primary" aria-label="Set Tokenization" style="color:red;">Recommendations</button>
      <button mat-raised-button color="primary" aria-label="Set Bag of words" style="color:red;">Content Generation</button>
      <button mat-raised-button color="primary" aria-label="Set Pattern Matching" style="color:red;">Search</button>
      <button mat-raised-button color="primary" aria-label="Set Named entity recognition" style="color:red;">Summarize Valuable Content</button>
      <button mat-raised-button color="primary" aria-label="Set Named entity recognition" style="color:red;">Sentiment AnalysisOpenAI's </button>
      <button mat-raised-button color="primary" aria-label="Set Named entity recognition" style="color:red;">Demand Forecasting</button>
      <button mat-raised-button color="primary" aria-label="Set Named entity recognition" style="color:red;">HR and RecruitmentAI</button>


    </mat-card>
  </div>
  <div class="column">

  </div>
</div>
<!--Testimonials-->
<!--<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>FEEDBACK</h3>
            <h2 class="section-title">What our customers are saying</h2>
        </div>-->
<!--User Testimonial-->
<!--<blockquote class="col-3 testimonial classic">
    <img src="../assets/images/user-images/user-1.jpg" alt="User"/>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore
        et dolore magna aliqua</q>
    <footer>John Doe - Happy Customer</footer>
</blockquote>-->
<!-- End of Testimonial-->
<!--User Testimonial-->
<!--<blockquote class="col-3 testimonial classic">
    <img src="../assets/images/user-images/user-2.jpg" alt="User"/>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore
        et dolore magna aliqua</q>
    <footer>Roslyn Doe - Happy Customer</footer>
</blockquote>-->
<!-- End of Testimonial-->
<!--User Testimonial-->
<!--<blockquote class="col-3 testimonial classic">
    <img src="../assets/images/user-images/user-3.jpg" alt="User"/>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore
        et dolore magna aliqua</q>
    <footer>Thomas Doe - Happy Customer</footer>
</blockquote>-->
<!-- End of Testimonial-->
<!--</div>

</aside>-->
<!--End of Testimonials-->
