<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div >
              <h1 class="section-heading_home">Machine learning Model !</h1>
              <h2 style="color:goldenrod; font-size:larger;font-weight:bolder;">
                Machine learning, Deep learning, Artificial intelligence, Open AI,
                Data mining, Data science,Natural language processing !
              </h2>
            </div>
  
            <!--Call to Action-->
            <a href="#" style="color:white;" class="button">Let’s Start</a>
            <!--End Call to Action-->
  
        </div>
  
    </div><!--End of Row-->
  </header>
