 

<div class="row">
  <div class="column" >
    <mat-card class="contents_submenu" >
      <button mat-raised-button color="primary" aria-label="Set Tokenization" (click)="loadTokenizationComponent()">Tokenization</button>
      <button mat-raised-button color="primary" aria-label="Set Removing stop words">Removing stop words</button>
      <button mat-raised-button color="primary" aria-label="Set lemmatization">Lemmatization</button>
      <button mat-raised-button color="primary" aria-label="Set stemming ">Stemming</button>
      <button mat-raised-button color="primary" aria-label="Set Pattern Matching">Pattern Matching</button>
      <button mat-raised-button color="primary" aria-label="Set Phrase Matcher">Phrase Matcher</button>
      <button mat-raised-button color="primary" aria-label="Set Named entity recognition">Named entity recognition</button>
      <button mat-raised-button color="primary" aria-label="Set Bag of words">Bag of words </button>
      <button mat-raised-button color="primary" aria-label="Set feature extraction">Feature extraction</button>
      <button mat-raised-button color="primary" aria-label="Set Document frequency">Document frequency</button>
      <button mat-raised-button color="primary" aria-label="Set Term frequency">Term frequency</button>
      <button mat-raised-button color="primary" aria-label="Set Text Summarization" (click)="loadSummarizationComponent()">Text Summarization</button>
      <button mat-raised-button color="primary" aria-label="Set Sentiment analysis">Sentiment analysis</button>

    </mat-card>
  </div>
  <div class="column">
    <app-tokenization [hidden]="tokenizationLoaded"></app-tokenization>
    <app-summarization [hidden]="summarizationLoad"></app-summarization>
  </div>
</div>
