
<div class="row">
  <div class="column">
    <mat-card class="contents_submenu">
      <button mat-raised-button color="primary" aria-label="Set Tokenization">Predictive analytics</button>
      <button mat-raised-button color="primary" aria-label="Set Bag of words">Image classification</button>
      <button mat-raised-button color="primary" aria-label="Set Pattern Matching">Sentiment analysis</button>
      <button mat-raised-button color="primary" aria-label="Set Named entity recognition">Recommender systems</button>

    </mat-card>
  </div>
  <div class="column">

  </div>
</div>


