
<div >
  <input type="file" class="file-input" (change)="onChange($event)" #fileUpload accept=".txt,.csv" />
</div>
<div >
  <label title="Sampel File">Sampel File</label><br />
  <a class="iconsBG" title="csv" href='/assets/data/stock.csv'download="stock.csv"><i class="far fa-file-excel"></i>Stock</a><br />
  <a class="iconsBG" title="Excel" href='/assets/data/MahatmaGandhi.txt' download="MahatmaGandhi.txt"><i class="far fa-file-excel"></i>MahatmaGandhi</a>
</div>
<mat-tab-group>
  <mat-tab label="Main contents">
    <p style="color: forestgreen; font-weight: bolder; text-decoration: underline;">Use of nltk library in python demo</p>
    <div>
      <p>
        1.	Tokenization of the sentence(s).<br />
        2.	Remove Stop Words from sentence(s).<br />
        3.	Remove Punctuation from sentence(s).<br />
        4.	Stemming of words of the sentence(s).<br />
        5.	Lemmatization of words of the sentence(s).<br />
        6.	Part of speech from sentence(s)<br />
        7.	N gram from sentence(s) <br />
        8.	Generate Word cloud from text file<br />
        9.	Generate Plot from csv file<br />
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Text Pre-Processing">
    <div>
      <div>
        <h4>Enter  text</h4>
        <textarea class="text-area" type="text" [(ngModel)]="tokenizationText"></textarea><br />
        <button class="example-button-row" mat-flat-button type="submit" (click)="getAllTokenization(tokenizationText)" value="Tokenize" [disabled]="!tokenizationText">Tokenize</button>
        <h4>List of Token</h4>
        <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
          @for (token of Tokenization;track token) {
          <li style="align-items:center">{{ token}}</li>
          }
        </ul>
      </div>

      <div>
        <button class="example-button-row" mat-flat-button (click)="onUpload()" [disabled]="!file" type="submit">Upload and Tokenization</button>
        <table class="mat-elevation-z8">
          <thead>
            <tr>
              <td>
                Tokens
              </td>
              <td>
                Remove stopword
              </td>
              <td>Stemmed</td>
              <td>Lemmatization </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
                  @for (filetoken of FileTokenization;track filetoken) {
                  <li style="align-items:center">{{ filetoken}}</li>
                  }
                </ul>
              </td>
              <td>
                <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
                  @for (rstopword of RemoveStopwordTokenization;track rstopword) {
                  <li style="align-items:center">{{ rstopword}}</li>
                  }
                </ul>
              </td>
              <td>
                <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
                  @for (stemmed of stemmedwords;track stemmed) {
                  <li style="align-items:center">{{ stemmed}}</li>
                  }
                </ul>
              </td>
              <td>
                <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
                  @for (lemm of LemmatizeWord;track lemm) {
                  <li style="align-items:center">{{ lemm}}</li>
                  }
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                count: {{FileTokenization.length}}
              </td>
              <td>
                count: {{RemoveStopwordTokenization.length}}
              </td>
              <td>
                count: {{stemmedwords.length}}
              </td>
              <td>
                count: {{LemmatizeWord.length}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </mat-tab>
  <mat-tab label="POS">
    <div>
      <div>
        <button class="example-button-row" mat-flat-button (click)="Getpos()" [disabled]="!file" type="submit">Upload and POS</button>
      </div>
      <div>

        <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
          @for (ps of pos;track ps) {
          @for (p of ps;track p) {
          <li style="align-items:center">{{ p}}</li>
          }
          }
        </ul>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="N-gram Tokenization">
    <div>
      <input type="text" id="ngram" [(ngModel)]="ngram" />
      <button class="example-button-row" mat-flat-button type="submit" (click)="getAllNgramTokenization(ngram)" value="Tokenize" [disabled]="!file">N-gram Tokenization</button>
      <ul style="overflow-y: scroll; max-height: 150px; max-width: 800px; text-align:center;justify-items:center">
        @for (gram of grams;track gram) {
        <li style="align-items:center">{{ gram}}</li>
        }
      </ul>
    </div>

  </mat-tab>
  <mat-tab label="Generate Word Cloud">
    <div>
      <textarea class="text-area" #textInput type="text" [(ngModel)]="wordcloudtext" placeholder="Enter text for word cloud" ></textarea><br />
      <button (click)="generateWordcloudGet(wordcloudtext)">Generate Word Cloud</button>
    </div>
    <div >
      <img [src]="imageUrl" alt="Word Cloud" />
    </div>
  </mat-tab>
  <mat-tab label="Generate Plot">
    <button class="example-button-row" mat-flat-button type="submit" [disabled]="!file" (click)="GetPlotFromFile()">Generate Scatter Plot From CSV File</button>
    <img [src]="imageUrl" alt="Generate Plot" />
  </mat-tab>
</mat-tab-group>
