.text-area{
    width:800px;
    height:100px;
}
div-scroll {
  width: 200px;
  height: 100px;
  overflow-y: scroll !important;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
  color:white;
  background-color:cornflowerblue;
}
table {
  width: 100%;
}
  
