<div>
  <!--<h4>Enter tokenization text</h4>
    <textarea class="text-area" type="text" [(ngModel)]="tokenizationText"></textarea><br />
    <input type="submit" (click)="getAllTokenization(tokenizationText)" value="Tokenize" [disabled]="!tokenizationText" />
  </div>

  <div>
    <div class="card-header">List of Token</div>
    <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
      @for (token of Tokenization;track token) {
      <li style="align-items:center">{{ token}}</li>
      }
    </ul>
  </div>-->
  <br />
  <br />

  <input type="file" class="file-input" (change)="onChange($event)" #fileUpload />
  <input (click)="onUpload()" [disabled]="!file" value="Upload and Tokenization" type="submit" />
  <br />
  <br />
  <div>
    <table border="1">
      <tr>
        <td>
         Tokens
        </td>
        <td>
         Remove stopword
        </td>
        <td>Stemmed</td>
      </tr>
      <tr>
        <td>
          <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
            @for (filetoken of FileTokenization;track filetoken) {
            <li style="align-items:center">{{ filetoken}}</li>
            }
          </ul>
        </td>
        <td>
          <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
            @for (rstopword of RemoveStopwordTokenization;track rstopword) {
            <li style="align-items:center">{{ rstopword}}</li>
            }
          </ul>
        </td>
        <td>
          <ul style="overflow-y: scroll; max-height: 150px; max-width: 300px; text-align:center;justify-items:center">
            @for (stemmed of stemmedwords;track stemmed) {
            <li style="align-items:center">{{ stemmed}}</li>
            }
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          count: {{FileTokenization.length}}
        </td>
        <td>
          count: {{RemoveStopwordTokenization.length}}
        </td>
        <td>
          count: {{stemmedwords.length}}
        </td>
      </tr>
    </table>
    
  </div>
  
